body {
background-color: rgb(60,230,100);

}
header{
height: 100px;
background-color: cyan;
display: flex;
justify-content: space-between;
}

header ul {
display: flex;
list-style: none;
}

header li {
margin-right: 50px;
}